--index-url https://download.pytorch.org/whl/cu121
fastapi==0.115.12
uvicorn==0.34.0
torch==2.5.1+cu121
torchvision==0.16.1+cu121

pandas==2.0.3
Pillow==11.0.0
chromadb==0.4.5
python-multipart==0.0.20